@layout("/common/_container.html"){
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <table class="text-center">
                <tbody>
                <tr>
                    <td colspan="10">
                        <h3>${item.title}</h3>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-sm-6 b-r">
                        <#input id="projectName" name="工程名称：" value="${item.projectName}" readonly="readonly" underline="true" />
                        <#input id="principal" name="负责人：" value="${item.principal}" readonly="readonly" underline="true" />
                    </div>
                    <div class="col-sm-6">
                       <#input id="reportTime" name="上报月份：" value="9999/99/99" readonly="readonly" underline="true" />
                    </div>
                </div>
                <div class="tabbable tabs-below" id="tabs-9962">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#panel-423372"><span>月建设信息报</span></a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#panel-45850">月投资完成</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#panel-45851">资金到位与拨付</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="panel-423372">
                            <div class="tabbable tabs-left" id="tabs-23055">
                                <ul class="nav nav-tabs">
                                    <li>
                                        <a class="active" href="#panel-148270" data-toggle="tab">表1</a>
                                    </li>
                                    <li>
                                        <a href="#panel-923630" data-toggle="tab">表2</a>
                                    </li>
                                    <li>
                                        <a href="#panel-923631" data-toggle="tab">表3</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="panel-148270">
                                        <span class="label">完成投资情况统计</span>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>
                                                    编号
                                                </th>
                                                <th>
                                                    名称
                                                </th>
                                                <th>
                                                    合计
                                                </th>
                                                <th>
                                                    土建和金结
                                                </th>
                                                <th>
                                                    机电设备及安装
                                                </th>
                                                <th>
                                                    独立费用
                                                </th>
                                                <th>
                                                    移民、环境及水保
                                                </th>
                                                <th>
                                                    其他
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr  class="success">
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    本月完成投资（万元）
                                                </td>
                                                <td>
                                                    ¥${item.monthTotalCost}
                                                </td>
                                                <td>
                                                    ¥${item.monthCivilCost}
                                                </td>
                                                <td>
                                                    ¥${item.monthElectricalCost}
                                                </td>
                                                <td>
                                                    ¥${item.monthIndependentCost}
                                                </td>
                                                <td>
                                                    ¥${item.monthEnvironmentCost}
                                                </td>
                                                <td>
                                                    ¥${item.monthOtherCost}
                                                </td>
                                            </tr>
                                            <tr class="success">
                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                    本年度累计完成投资（万元）
                                                </td>
                                                <td>
                                                    ¥${item.yearTotalCost}
                                                </td>
                                                <td>
                                                    ¥${item.yearCivilCost}
                                                </td>
                                                <td>
                                                    ¥${item.yearElectricalCost}
                                                </td>
                                                <td>
                                                    ¥${item.yearIndependentCost}
                                                </td>
                                                <td>
                                                    ¥${item.yearEnvironmentCost}
                                                </td>
                                                <td>
                                                    ¥${item.yearOtherCost}
                                                </td>
                                            </tr>
                                            <tr class="success">
                                                <td>
                                                    3
                                                </td>
                                                <td>
                                                    建设至今累计完成投资（万元）
                                                </td>
                                                <td>
                                                    ¥${item.sofarTotalCost}
                                                </td>
                                                <td>
                                                    ¥${item.sofarCivilCost}
                                                </td>
                                                <td>
                                                    ¥${item.sofarElectricalCost}
                                                </td>
                                                <td>
                                                    ¥${item.sofarIndependentCost}
                                                </td>
                                                <td>
                                                    ¥${item.sofarEnvironmentCost}
                                                </td>
                                                <td>
                                                    ¥${item.sofarOtherCost}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <hr />
                                        <span class="label">完成工程量情况统计</span>
                                        <table class="table">
                                            <thead>
                                            <tr>
                                                <th>
                                                    编号
                                                </th>
                                                <th>
                                                    名称
                                                </th>
                                                <th>
                                                    土石方明挖（万m³）
                                                </th>
                                                <th>
                                                    土石方洞挖（万m³）
                                                </th>
                                                <th>
                                                    土石方回填（万m³）
                                                </th>
                                                <th>
                                                    砌石（万m³）
                                                </th>
                                                <th>
                                                    混凝土（万m³）
                                                </th>
                                                <th>
                                                    钢筋（t）
                                                </th>
                                                <th>
                                                    灌浆（m/m³）
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr  class="success">
                                                <td>
                                                    1
                                                </td>
                                                <td>
                                                    建设至今累计完成工程量
                                                </td>
                                                <td>
                                                    ¥${item.sofarEarthworkExcavation}
                                                </td>
                                                <td>
                                                    ¥${item.sofarHoleworkExcavation}
                                                </td>
                                                <td>
                                                    ¥${item.sofarEarthworkBackfill}
                                                </td>
                                                <td>
                                                    ¥${item.sofarMasonry}
                                                </td>
                                                <td>
                                                    ¥${item.sofarConcrete}
                                                </td>
                                                <td>
                                                    ¥${item.sofarRebar}
                                                </td>
                                                <td>
                                                    ¥${item.sofarGrout}
                                                </td>
                                            </tr>
                                            <tr class="success">
                                                <td>
                                                    2
                                                </td>
                                                <td>
                                                    本年度累计完成工程量
                                                </td>
                                                <td>
                                                    ¥${item.yearEarthworkExcavation}
                                                </td>
                                                <td>
                                                    ¥${item.yearHoleworkExcavation}
                                                </td>
                                                <td>
                                                    ¥${item.yearEarthworkBackfill}
                                                </td>
                                                <td>
                                                    ¥${item.yearMasonry}
                                                </td>
                                                <td>
                                                    ¥${item.yearConcrete}
                                                </td>
                                                <td>
                                                    ¥${item.yearRebar}
                                                </td>
                                                <td>
                                                    ¥${item.yearGrout}
                                                </td>
                                            </tr>
                                            <tr class="success">
                                                <td>
                                                    3
                                                </td>
                                                <td>
                                                    本月完成工程量
                                                </td>
                                                <td>
                                                    ¥${item.monthEarthworkExcavation}
                                                </td>
                                                <td>
                                                    ¥${item.monthHoleworkExcavation}
                                                </td>
                                                <td>
                                                    ¥${item.monthEarthworkBackfill}
                                                </td>
                                                <td>
                                                    ¥${item.monthMasonry}
                                                </td>
                                                <td>
                                                    ¥${item.monthConcrete}
                                                </td>
                                                <td>
                                                    ¥${item.monthRebar}
                                                </td>
                                                <td>
                                                    ¥${item.monthGrout}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p>
                                                    <span class="label">劳动力投入（万工日）</span>
                                                    <input id="laborForce" value="${item.laborForce}" readonly="readonly" >
                                                </p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p>
                                                    <span class="label">建设内容</span>
                                                </p>
                                                <p>
                                                    ${item.constructionContent}
                                                </p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p>
                                                    <span class="label">工程形象进度及节点工期</span>
                                                </p>
                                                <p>
                                                    ${item.progress}
                                                </p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p>
                                                    <span class="label">存在的困难及问题</span>
                                                </p>
                                                <p>
                                                    ${item.difficulty}
                                                </p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p>
                                                    <span class="label">采取的主要措施</span>
                                                </p>
                                                <p>
                                                    ${item.measure}
                                                </p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p>
                                                    <span class="label">下一步建议</span>
                                                </p>
                                                <p>
                                                    ${item.suggestion}
                                                </p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <p>
                                                    <span class="label">其他</span>
                                                </p>
                                                <p>
                                                    ${item.other}
                                                </p>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-6 b-r">
                                                <#input id="informant" name="填报人" value="${item.informant}" readonly="readonly"  underline="true"/>

                                            </div>
                                            <div class="col-sm-6">
                                                <#input id="telephone" name="联系电话" value="${item.telephone}" readonly="readonly"  underline="true"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="panel-923630">
                                        <p>
                                            第二部分内容.
                                        </p>
                                    </div>
                                    <div class="tab-pane" id="panel-923631">
                                        <p>
                                            第三部分内容.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="panel-45850">
                            <p>
                                第二部分内容.
                            </p>
                        </div>
                        <div class="tab-pane" id="panel-45851">
                            <p>
                                第三部分内容.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${item.id}">

            <div class="row">
                <div class="col-sm-12 b-r">
                    <#input id="title" name="表格名" value="${item.title}" underline="true" readonly="readonly" />
                    <#input id="projectName" name="工程名称" value="${item.projectName}" underline="true"/>
                </div>
                <div class="col-sm-6 b-r">
                            <#input id="constructionContent" name="建设内容" value="${item.constructionContent}" underline="true"/>
                            <#input id="monthCivilCost" name="本月完成投资土建及金结" value="${item.monthCivilCost}" underline="true"/>
                            <#input id="monthElectricalCost" name="本月完成投资机电设备及安装" value="${item.monthElectricalCost}" underline="true"/>
                            <#input id="monthIndependentCost" name="独立费用" value="${item.monthIndependentCost}" underline="true"/>
                            <#input id="monthEnvironmentCost" name="移民、环境及水保" value="${item.monthEnvironmentCost}" underline="true"/>
                            <#input id="monthOtherCost" name="其他" value="${item.monthOtherCost}" underline="true"/>
                            <#input id="yearCivilCost" name="本年度累计完成投资土建及金结" value="${item.yearCivilCost}" underline="true"/>
                            <#input id="yearElectricalCost" name="本年度累计完成投资机电设备及安装" value="${item.yearElectricalCost}" underline="true"/>
                            <#input id="yearIndependentCost" name="独立费用" value="${item.yearIndependentCost}" underline="true"/>
                            <#input id="yearEnvironmentCost" name="移民、环境及水保" value="${item.yearEnvironmentCost}" underline="true"/>
                            <#input id="yearOtherCost" name="其他" value="${item.yearOtherCost}" underline="true"/>
                            <#input id="sofarCivilCost" name="至今累计完成投资土建及金结" value="${item.sofarCivilCost}" underline="true"/>
                            <#input id="sofarElectricalCost" name="至今累计完成投资机电设备及安装" value="${item.sofarElectricalCost}" underline="true"/>
                            <#input id="sofarIndependentCost" name="独立费用" value="${item.sofarIndependentCost}" underline="true"/>
                            <#input id="sofarEnvironmentCost" name="移民、环境及水保" value="${item.sofarEnvironmentCost}" underline="true"/>
                            <#input id="sofarOtherCost" name="其他" value="${item.sofarOtherCost}" underline="true"/>
                            <#input id="monthEarthworkExcavation" name="本月完成土石方明挖" value="${item.monthEarthworkExcavation}" underline="true"/>
                            <#input id="monthHoleworkExcavation" name="本月完成土石方洞挖" value="${item.monthHoleworkExcavation}" underline="true"/>
                            <#input id="monthEarthworkBackfill" name="本月完成土石方回填" value="${item.monthEarthworkBackfill}" underline="true"/>
                            <#input id="monthMasonry" name="本月完成砌石" value="${item.monthMasonry}" underline="true"/>
                            <#input id="monthConcrete" name="本月完成混凝土" value="${item.monthConcrete}" underline="true"/>
                            <#input id="monthRebar" name="本月完成钢筋" value="${item.monthRebar}" underline="true"/>
                            <#input id="monthGrout" name="本月完成灌浆" value="${item.monthGrout}" />
                </div>

                <div class="col-sm-6">
                            <#input id="yearEarthworkExcavation" name="年度完成土石方明挖" value="${item.yearEarthworkExcavation}" underline="true"/>
                            <#input id="yearHoleworkExcavation" name="年度完成土石方洞挖" value="${item.yearHoleworkExcavation}" underline="true"/>
                            <#input id="yearEarthworkBackfill" name="年度完成土石方回填" value="${item.yearEarthworkBackfill}" underline="true"/>
                            <#input id="yearMasonry" name="年度完成砌石" value="${item.yearMasonry}" underline="true"/>
                            <#input id="yearConcrete" name="年度完成混凝土" value="${item.yearConcrete}" underline="true"/>
                            <#input id="yearRebar" name="年度完成钢筋" value="${item.yearRebar}" underline="true"/>
                            <#input id="yearGrout" name="年度完成灌浆" value="${item.yearGrout}" underline="true"/>
                            <#input id="sofarEarthworkExcavation" name="至今完成土石方明挖" value="${item.sofarEarthworkExcavation}" underline="true"/>
                            <#input id="sofarHoleworkExcavation" name="至今完成土石方洞挖" value="${item.sofarHoleworkExcavation}" underline="true"/>
                            <#input id="sofarEarthworkBackfill" name="至今完成土石方回填" value="${item.sofarEarthworkBackfill}" underline="true"/>
                            <#input id="sofarMasonry" name="至今完成砌石" value="${item.sofarMasonry}" underline="true"/>
                            <#input id="sofarConcrete" name="至今完成混凝土" value="${item.sofarConcrete}" underline="true"/>
                            <#input id="sofarRebar" name="至今完成钢筋" value="${item.sofarRebar}" underline="true"/>
                            <#input id="sofarGrout" name="至今完成灌浆" value="${item.sofarGrout}" underline="true"/>
                            <#input id="laborForce" name="劳动力投入（万工日）" value="${item.laborForce}" underline="true"/>
                            <#input id="progress" name="工程形象进度及节点工期" value="${item.progress}" underline="true"/>
                            <#input id="difficulty" name="存在的困难及问题" value="${item.difficulty}" underline="true"/>
                            <#input id="measure" name="采取的主要措施" value="${item.measure}" underline="true"/>
                            <#input id="suggestion" name="下一步建议" value="${item.suggestion}" underline="true"/>
                            <#input id="other" name="其他" value="${item.other}" underline="true"/>
                            <#input id="principal" name="负责人" value="${item.principal}" underline="true"/>
                            <#input id="informant" name="填报人" value="${item.informant}" underline="true"/>
                            <#input id="telephone" name="联系电话" value="${item.telephone}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                            <#input id="updateTime" name="修改时间" value="${item.updateTime}" />
                </div>
            </div>

        </div>

    </div>
</div>-->
<script src="${ctxPath}/static/modular/mr_construction/sheetOne/sheetOne_info.js"></script>
@}
